# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
build
dist

# Cache
.cache
.turbo

# Logs
*.log

# Environment files
.env*

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea

# Misc
.DS_Store
*.pem
